h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
}

li > a {
  display: flex;
  height: 100%;
}

.cards {
  margin: 1vh auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #43a047;
}

a:active {
  color: #43a047;
}

@media (min-width: 1000px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1600px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
